div {
  font-size: 18px;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

h1 {
  color: red;
}

img {
  border-style: solid;
  height: auto;
  width: 250px;
}

.box {
  display: flex;
  justify-content: space-evenly;
}

.box li {
  width: 100px;
  height: 90px;
  border-style: ridge;
  border-color: grey;
  list-style: none ;
  background-color: beige;
  font-size: 24px;
  font-weight: bold;
  border-top-left-radius: 1ch;
  border-top-right-radius: 1ch;
  border-bottom-left-radius: 1ch;
  border-bottom-right-radius: 1ch;
  padding: 10px;
  text-align: center;
}

a:link { 
  text-decoration: none; 
  color: black;
}


a:visited { 
  text-decoration: none; 
  color: black;
}


a:hover { 
  text-decoration: none; 
  color: black;
}


a:active { 
  text-decoration: none; 
  color: black;
}